aside #sub_menu{
    width:186px;
    height:320px;
    background-image:url("../img/sub_menu_bg.png");
    margin-top:15px;
}

#sub_menu ul{
    padding:80px 0 0 30px;
}

#sub_menu li{
    margin-top:10px;
    font-size:14px;
    color:#444444;
    font-weight:bold;
}

#sub_menu a:link{
    color:#444444;
    text-decoration:none;
}

#sub_menu a:visited{
    color:#444444;
    text-decoration:none;
}

#sub_menu a:hover{
    color:#2478ff;
    text-decoration:underline;
}

#sub_banner{
    padding:5px;
    width:186px;
    height:160px;
    margin-top:10px;
    border:solid 1px #cccccc;
    border-radius:10px;
    box-shadow:2px 2px 2px #dddddd;
}

#total_search{

}